<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Height-Weight Test</title>
</head>

<body>
    <div>
        <h1>HEIGHT-WEIGHT PREDICTOR</h1>
        <form action="{{ url_for('predict')}}" method=POST>
            <input type="number" name="height" placeholder="Height" required="required" />
            <button type="submit">Predict</button>
        </form>

        <br>
        <br>
        <br>
        <br>

        {{ prediction_text }}

    </div>
</body>

</html>